<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<body>
  <div class="container">
    <hr />
    <h2>Usuários</h2>
    <a href="/admin/users/create" class="btn btn-success">Criar novo usário</a>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% users.forEach(user => { %>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td>
            <a
              href="/admin/articles/edit/<%= user.id %>"
              class="btn btn-warning"
              >Editar</a
            >
            <form
              method="POST"
              action="/user/delete"
              style="display: inline;"
              onsubmit="confirmDelete(event, this)"
            >
              <input type="hidden" name="id" value="<%= user.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include('../../partials/footer.ejs') %>
<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    var decision = confirm('Você quer deletar esta usuário?');
    if (decision) {
      form.submit();
    }
  }
</script>
